.header{
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header__container{
    display: flex;
    height: 60px;
    @media screen and (min-width: 768px){
        height: 80px;
    }
}

.header-navigation{
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
    @media screen and (max-width: 767px){
        display: none;
    }
}
.site-nav__item{
    font-family: Roboto;
    &:not(:last-child){
        margin-right: 50px;
    }
}

.site-nav__link{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-title-color);
    transition: color 250ms var(--timing-function);
    &.site-nav-link__current::after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-hover-color);
        opacity: 1;
        transition: color 250ms var(--timing-function);
    }
    &:hover,
    &:focus{
        color: var(--accent-hover-color);
    }
}

.site-nav-link__current{
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-hover-color);
    transition: color 250ms var(--timing-function);
}

.contacts{
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px){
        display: block;
        margin-left: auto;
        padding-top: 21px;
        padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px){
        display: flex;
        margin-left: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.contacts__link{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    color: var(--main-text-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus{
        color: var(--accent-hover-color);
    } 
    @media screen and (min-width: 1200px){
        padding-top: 32px;
        padding-bottom: 32px;  
    }
}

.contacts__item:not(:last-child){
    @media screen and (min-width: 1200px){
        display: block;
        margin-right: 50px;
    }
}
.contacts__item + .contacts__item{
    @media screen and (max-width: 1199px){
        margin-top: 10px;
    }
}

.contacts-link__icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
    &::before{
        content: "";
        display: block;
        width: 100%;
        background-size: contain;
    }
}

.open-menu-btn{
    margin-left: auto;
    padding-top: 10px;
    border: none;
    background-color: #fff;
    fill: var(--secondary-title-color);
    transition: fill 250ms var(--timing-function);
    &:hover,
    &:focus{
        fill: var(--accent-hover-color);
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}

