.header{
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header__container{
    display: flex;
}

.header-navigation{
    display: flex;
    align-items: center;
}
.site-nav{
    
    display: flex;
    display: none;
}
.site-nav__item{
    font-family: Roboto;
    &:not(:last-child){
        margin-right: 50px;
    }
}

.header-contacts-list{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.site-nav__link{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-title-color);
    transition: color 250ms var(--timing-function);
    &.site-nav-link__current::after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-hover-color);
        opacity: 1;
        transition: color 250ms var(--timing-function);
    }
    &:hover,
    &:focus{
        color: var(--accent-hover-color);
    }
}

.site-nav-link__current{
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-hover-color);
    transition: color 250ms var(--timing-function);
}

.contacts{
    
    display: flex;
    margin-left: auto;
    display: none;
}
.contacts__link{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;  
    color: var(--main-text-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus{
        color: var(--accent-hover-color);
    } 
}

.contacts__item:not(:last-child){
    display: block;
    margin-right: 50px;
}

.contacts-link__icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
    &::before{
        content: "";
        display: block;
        width: 100%;
        background-size: contain;
    }
}

.open-menu-btn{
    margin-left: auto;
    
}

.mob-menu{
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 48px;
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}

.close-menu-btn{
    display: block;
    margin-left: auto;
    margin-right: 15px;
    padding-top: 10px;
    width: 40px;
    height: 40px;
    border: none;
    
}

.mob-menu__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color)
    
}

.mob-menu-contacts__item{
    display: block;
    & + &{
        margin-top: 32px;
        margin-bottom: 64px;
    }
}

.mob-menu-contacts__tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-hover-color);
    }

.mob-menu-contacts__male{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: rgba(117, 117, 117, 1);
    }

.social-mob{
    display: flex;
    
}

.social-mob__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-hover-color)
}
