.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 250ms, visibility 250ms;
}

.modal{
    width: 528px;
    min-height: 581px;
    background-color: var(--main-title-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: scale(1);
    transform: translate(-50%, -50%);
    transition: transform 250ms var(--timing-function);
    .backdrop.is-hidden  &{
        transform: scale(1.5);
        transition: transform 250ms var(--timing-function);
    }
}

.modal__close{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms var(--timing-function);
}

.modal__icon:hover{
    fill: var(--accent-hover-color);
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
