body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
p, h2, h3{
    margin: 0; 
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}