:root{
    --main-title-color:#FFFFFF;
    --secondary-title-color:#212121;
    --main-text-color: rgba(117, 117, 117, 1);
    --accent-color: rgba(33, 150, 243, 1);    ;
    --accent-hover-color:#188CE8;
    --footer-contacts-color: rgba(255, 255, 255, 0,6);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}